*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    overflow: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    max-width: 1221.22px;
    margin: 0 auto;
}

/* buttons */

a.btn {
    display: inline-flex;
    padding: 30px;
    align-items: flex-start;
    gap: 10px;
}

a.btn.signin{
    text-decoration: none;
}

/* Header */
header{
    background: #FFFDF1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.corner{
    height: 800px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.signin-img .bg{
    position : relative;
    z-index: 2;
    flex: 1;
    top: 200px;
    left: 10%;
}

.signin-func{
    z-index: 2;
    position: relative;
    align-self: flex-end;
    flex: 1;
    height: 327.27px;
    top: -325px;
    left: 50%;
}
