body{
    margin:0;
    height: 100%;
}

@font-face {
    font-family: poppins;
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

.pageContainer{
    width: 100%;
    height: 100vh;
}

.cartCellContainer{
    position: fixed;
    width: 40%;
    background-color: #FFBE41;
    height: 100%;
}

.cartCellFull {
    width: 100%;
    background-color: #FFBE41;
    height: 100%;   
}

.returnButtonWrapper {
    display: flex;
    align-items: center;
    font-family: poppins;
    color: #550312;
}

.returnButtonWrapper h2 {
    font-size: 20px;
    margin-left: 10px;
}

.headerWrapper{
    font-family: poppins;
    color: #550312;
    width: 100%;
    text-align: center;
}

.billWrapper{
    font-family: poppins;
    color: #550312;
    margin-left:20px ;
}

.inputWrapper{
    align-items: center;
    display:flex;
    color: #550312;
    font-size: 25px;
    justify-content: center;
}

.formCell{
    overflow-y: auto;
    font-family: poppins;
    margin-left: 40%;
}

.formCellFull{
    font-family: poppins;
    width: 100%;
}



.checkoutCart{
    width:80%;
    margin:10px;
    margin-left: 40px;
    background-color: white;
    height: 70%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}