
.logoLine{
    border-radius: 12px;
    background-color: #FFBE41;
    height: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: poppins;
    src: url(../../public/fonts/Poppins-Regular.ttf);
}
.homeLink{
    text-decoration: none;
}
.menuTitle{
    text-decoration: none;
    margin: 0;
    font-family: poppins;
    color:#550312
}

.barWrapper{
    display: grid;
    grid-template-columns: auto auto;
    top: 0;
    margin: 10px;
}

.normalBar{
    z-index: 100;
    width: 100%;
    background-color: white;
}

.fixedBar
{
    transition: ease-in-out;
    z-index: 100;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
}

.headerContainer{
    width:100%;
}

.headerLogoContainer{
    display: flex;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 250px;
}

.itemList{
    max-width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto ;
}

.priceTag{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.priceWrapper
{
    font-family: poppins;
    text-align: right;
}

.priceWrapper h2{
    margin: 0;
}

.descriptionWrapper
{
    font-family: poppins;
    font-size: smaller;
    height: 130px;
}

.descriptionWrapper h2
{
    font-family: poppins;
    color:#550312;
    margin:0;
}

.descriptionWrapper div{
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.modalWrapper{
    display: flex;
}


.modalContentWrapper{
    height: 100%;
    width: 80%;
    right:0;
    z-index: 100;
    background-color: white;
}

.modalWrapper img{
    max-width: 50%;
    font-family: poppins;
}

.checkoutWrapper{
    position: absolute;
    max-width: 100% ;
    right:0;
}

.totalWrapper{
    margin-right: 5px; 
    font-family: poppins;
    font-size: 16px;
}

.cartTitleWrapper{
    display:grid;
    grid-template-columns: 20% 60%;
    top: 0 ;
    text-align: center;
    height: fit-content;
    width:100%;
    color: #550312;
    font-family: poppins;
    margin:0;
}

.cartTitleWrapper h1{
    margin-top:20px;
    margin-bottom:20px;
}

.insideCart{

    width: 100%;
    height: 100%;
    justify-content: center;
}

.cartContent{
    height: 66%;
}

.cartItem {
    align-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 10% 10% 50% 30%;
}   

.arrowWrapper{
    margin: auto;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
    width: 100%;
}

.amountWrapper{
    margin-right: 5px;
    width:100%;
}
.nameWrapper{
    font-size: larger;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cartSubitem
{
    text-align: left;
    margin-left:30px;
}
.cartCombo
{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 10% 10% 80%;
}

.cartCombo div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comboPizzaAddOn{
    width: 70%;
    margin-left:20px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.comboPizzaAddOn div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cartPizza{
    display: grid;
    grid-template-columns: 10% 60% 30%;
}

.cartPizza div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.deleteWrapper{
    margin-top: 5px;
    margin-bottom: auto;
}