*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    /* overflow: hidden; */
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    max-width: 1221.22px;
    margin: 0 auto;
}

/* buttons */

a.btn.order{
    display: inline-flex;
    padding: 30px;
    align-items: flex-start;
    gap: 10px;
    color: var(--wheat, #FFFDF1);
    font-family: "Poppins", sans-serif;
    font-size: 23.833px;
    font-weight: 600;
    
    text-decoration: none;
    border-radius: 39.722px;
    border: 0.794px solid var(--wheat, #FFFDF1);
    background: var(--chocolate, #550312);

    position: relative;
    top: -450px;
    left: 58%;
    z-index: 100;

    box-shadow: 0px 3.1777777671813965px 3.1777777671813965px 0px rgba(0, 0, 0, 0.25) inset, 0px 3.1777777671813965px 3.1777777671813965px 0px rgba(0, 0, 0, 0.25);
}

/* Header */
header{
    background: #FFFDF1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
}

.hero-section .left h1{
    color: var(--chocolate, #550312);
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: normal;
}

.hero-section .left h2{
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
}

.hero-section .left p{
    font-family: "Poppins", sans-serif;
    width: 389px;
    color: #333;
    font-size: 14.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.hero-section .left{
    flex: 1;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img.pizza{
    width: 464.861px;
    height: 467.133px;
    position: relative;
    top: -365px;
    left: 35%;
    z-index: 10;
}

img.corner{
    height: 800px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.hero-section .left img.Leaves{
    width: 285.238px;
    height: 267.876px;
    transform: rotate(14.643deg);
    position: relative;
    top: -400px;
    left: 325px;
    z-index: 10;
}


.container {
    display: flex;
    align-items: center;
  }

.container .container-image{
    text-align: left;
    display: flex;
    height: 60px;
    margin-left: 12px;

}

.container .container-text{
    text-align: left;
    margin-right: 12px;
    margin-left: 40px;

}
  
.image img{
    flex: 1;
    height: 50.378px;
    text-align: right;
  }
  
.text {
    flex: 1;
    margin-right: 20px;
  }
  
.text p {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 14.3px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }